header
{
    text-align:center;
    color: white;
    font-size: 0.25cm;font-style: italic;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: double;border-width: 0.1cm;border-top: 0cm; border-left: 0cm; border-right: 0cm; 
    background-color: green;
 }
 .heading
 {
   border-style: solid;border-color: black;border-top: 0cm;border-left: 0cm;border-right: 0cm;
   max-width: fit-content;
   font-weight:bold;font-size: 0.25cm;
   margin-left: 0.5cm;
   background-color: white;
   color: green;
 }
 footer
{
    background-color: green;
    text-align: center;
    color: black;
    font-size: 0.5cm;font-style: italic;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: double;border-width: 0.1cm;border-bottom: 0cm; border-left: 0cm; border-right: 0cm;
 }
 marquee
 {
    color: black;
    background-color: yellow;
    font-size: 0.3cm;font-style: inherit;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    border-style: solid; border-left: 0cm;border-right: 0cm;border-width: 0.1cm;
 }
 img 
 {
  height: auto;
  width: 95%;
 }
 body
 {
    background-color: white;
    border-style:solid;border-width: 0.15cm;
    width: 100%;
    padding: 0;
    margin: 0;
    
 }
 .mybutton
 {
   color:white;
   background-color: green;
   margin: 0.1cm;
   text-align:center;
   font-size: 0.1cm;font-weight: bold;
   border-style:solid;border-radius: 0.1cm;
   max-width: fit-content;
   padding-left: 0.1cm;padding-right: 0.1cm;padding-top: 0.05cm;padding-bottom: 0.05cm;
 }
 .b1,.b2,.b3,.b4,.b5,.b6,.b7
 {
   color:black;
   font-size: 0.15cm;
 }
 button:hover
 {
    background-color: white;
    color: green;
    box-shadow:azure;
 }
 .button-container
 {
    display: flex;
    margin: 0.2cm;
    font-size: 0.3cm;
 }
.sh1,.sh2,.sh3,.sh4,.sh5,.sh6,.sh7
{   
   font-weight: bolder;
   font-size: 0.2cm;
   color: green;
   margin-left: 0.5cm;
   max-width: fit-content;
   border-top: 0cm;border-left: 0cm;border-right: 0cm;border-style: double;
}
.sb1,.sb2,.sb3,.sb4,.sb5,.sb6,.sb7
{
   padding-left: 0.2cm;
   padding-right: 0.2cm;
   padding-top: 0.1cm;
   padding-bottom: 0.1cm;
}
.mb 
{
   font-size: 0.2cm;font-weight: bold;
   padding-right: 0.1cm; padding-left: 0.1cm;padding-top: 0.05cm;padding-bottom: 0.05cm;
   border-style: solid;
   border-radius: 0.2cm;
   color: white;
    margin-left: 1cm;
   background-color: green;
}
b
{
   color: black;
}
sub
{
   margin-left: 2cm;
   font-size: xx-small;
   color:darkblue;
}
 p
 {
    font-size: 0.25cm;
    color: black;
    margin-left: 0.5cm;margin-right: 0.5cm;
 }
 pre
{
    color:black;  padding-left: 0.8cm; padding-right: 0.8cm;
    font-size: 0.1cm;
}
